<div *ngIf="auth.user | async; then authenticated else guest">

</div>


<!-- User NOT logged in -->
<ng-template #guest>
  <h3>Hi, GUEST</h3>
  <p>Login to get started...</p>
  <button (click)="onClickConnect()">
    <i class="fa fa-google"></i> Connect Google
  </button>

</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    <h3>Hi there, {{ user.displayName }}</h3>
    <h4>{{user.email}}</h4>
    <img [src]="user.imageId">
    <a routerLink="/message-room" >Go to chat</a>
    <button (click)="onClickLogOut()">Logout</button>
    <button (click)="onClickRemoveUser()">Remove user</button>
  </div>
</ng-template>
